@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: transparent;
}

body {
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
	padding: 0;

	/* optimise font rendering */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@layer base {
  @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Orbitron-VariableFont_wght.ttf) format('truetype');
  }
}
