@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* optimise font rendering */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* Disable focus ring */
*:focus {
  outline: none;
}

@layer base {
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Ubuntu-Regular.ttf) format('truetype');
  }
}
